name: Test

on:
  push:
jobs:
    test-app:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout backend
        uses: actions/checkout@v6.0.1

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run backend tests
        run: npm run test
